#myDiagramDiv{
    margin: auto;
    width: 100%;
    height: 400px;
    background-color: #ddd;
    
}

.buttons{
    font-size: 2.5em;
    width: 100%;
}

.controleur{
    width: 100%;
}

.vision{
    padding: 2%;
    font-size: 1.5em;
}

#carte{
    width: 100%;
    height: 100%;
}

#pointer{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 470px;
}

.container-battery{
    transform: scale(-1, 1);
    background-image: linear-gradient(rgb(40, 238, 90), #098b00);

}

.progressDiv{
    height: 20px;
    width: 100%;
}

#battery{
    background-image: linear-gradient(rgb(238, 149, 40), #e7c97c);
}

#score{
    background-image: linear-gradient(rgb(185, 40, 238), #a97ce7);
    visibility: hidden;
}

